<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, height=device-height, maximum-scale=1.0" />
    <title>title</title>
    <meta name="title" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta property="fb:app_id" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
<!-- 
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
-->
    <link rel="stylesheet" href="../../Content/css/slick.css" />
    <link rel="stylesheet" href="../../Content/css/style.css" />

    <script src="../../libs/jquery-2.1.4.min.js"></script>
    <script src="../../libs/slick-1.6.0.min.js"></script>
    <script src="../../libs/TweenMax.min.js"></script>
    <!-- <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script> -->
  </head>
  <body>
    <div id="wrap">
      <div id="container">

		<div id="contents" class="page-login">
			<section class="section">
				<div class="wrap">
					<div class="login-wrap">
						<div class="login-title"><img src="../../Content/img/common/logo_w.png" alt="" /></div>
						<div class="login-form-box">
							<div class="login-subject">
								<p><span>직무 STEP-UP</span></p>
								<p><strong>로그인</strong></p>
							</div>

							<div class="login-form-wrap">
								<div class="login-form-row">
									<select class="select">
										<option value="">대학내일</option>
										<option></option>
									</select>
								</div>
								<div class="login-form-row">
									<input type="text" maxlength="50" placeholder="아이디" />
								</div>
								<div class="login-form-row">
									<input type="password" minlength="8" placeholder="패스워드" />
								</div>
							</div>

							<div class="login-action">
								<a href="javascript:void(0);" class="btn wide btn-mint">로그인</a>
							</div>

							<div class="copyright">COPYRIGHT(C) DAEHAK NEAIL ALL RIGHTS RESERVED.</div>
						</div>
					</div>
				</div>

			</section>
		</div>

      </div>

      <div class="dim"></div>

    </div>
    <script src="../../js/script.js"></script>
    <script>
      $(function () {
        
      });
    </script>
  </body>
</html>
