<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, height=device-height, maximum-scale=1.0" />
    <title>title</title>
    <meta name="title" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta property="fb:app_id" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
<!-- 
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
-->
    <link rel="stylesheet" href="../../Content/css/slick.css" />
    <link rel="stylesheet" href="../../Content/css/style.css" />

    <script src="../../libs/jquery-2.1.4.min.js"></script>
    <script src="../../libs/slick-1.6.0.min.js"></script>
    <script src="../../libs/TweenMax.min.js"></script>
    <!-- <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script> -->
  </head>
  <body>
    <div id="wrap">
      <div id="container">
        <!-- header -->
        <header>
          <div class="wrap">
            <div class="logo">
              <a href="javascript:;" class="logo-img"><img src="../../Content/img/common/logo.png" alt="" /></a>
			  <a href="javascript:;" class="logo-text">직무 Step-up</a>
            </div>

            <div id="menu">
              <a href="javascript:;" class="menu-icon">
                <span> </span>
                <span> </span>
                <span> </span>
              </a>
            </div>

            <nav id="gnb">
              <ul>
                <li class="active"><a href="javascript:void(0);"><span>마이 페이지</span></a></li>
                <li><a href="javascript:void(0);">STEP-UP 지원</a></li>
                <li><a href="javascript:void(0);">프로그램 소개</a></li>
                <li class="logout"><a href="javascript:void(0);"><span class="logout-img"><img src="../../Content/img/common/icon_logout.png" alt="" /></span>Logout</a></li>
              </ul>

            </nav>
          </div>
        </header>
        <!--// header -->

		<div id="contents"  class="page-main">
			<section class="section">
				<div class="wrap">
					<div class="main-title">마이 페이지</div>

					<div class="content-wrap">
						<div class="content">
							
							<div class="form-wrap">
								<div class="form-label">지원자 정보</div>
								<div class="form-field-group">
									<div class="form-field-box">
										<div class="form-field">
											<div class="form-subject">이름</div>
											<div class="form-desc">김대학</div>
										</div>

										<div class="form-field">
											<div class="form-subject">전체 경력연수</div>
											<div class="form-desc">11년</div>
										</div>

										<div class="form-field">
											<div class="form-subject">직급</div>
											<div class="form-desc">책임 매니저</div>
										</div>

										<div class="form-field">
											<div class="form-subject">소속</div>
											<div class="form-desc">E-Biz본부 인프라서비스팀</div>
										</div>
									</div>

									<div class="form-field-box">
										<div class="form-field full">
											<div class="form-subject">현재  직무 스텝</div>
											<div class="form-desc">Planning  /  Account Executive  /   S1 Assistant Account Executive</div>
										</div>

									</div>

								</div>
							</div><!-- //form-wrap -->

							<div class="form-wrap">
								<div class="form-label">나의 취득 스킬</div>
								<div class="form-field-group">
									<div class="form-field-box">
										<div class="form-tag"><span>커뮤니케이션 L2</span></div>
										<div class="form-tag"><span>인사이트 L2</span></div>
										<div class="form-tag"><span>전략솔루션 L3</span></div>
										<div class="form-tag"><span>미디어 매니지먼트 L2</span></div>
										<div class="form-tag"><span>퀄리티 매니지먼트 L1</span></div>
										<div class="form-tag"><span>프리 프로덕션 L1</span></div>
										<div class="form-tag"><span>포스트 프로덕션 L2</span></div>
										<div class="form-tag"><span>비즈니스 모델링 L2</span></div>
										<div class="form-tag"><span>크리에이티브 임팩트 L2</span></div>
									</div>
								</div>
							</div><!-- //form-wrap -->

							<div class="form-wrap">
								<div class="form-label">진행 프로세스</div>
								<div class="form-field-group">
									<div class="form-field-box">
										<div class="form-step">
											<p><span>STEP 01</span></p>
											<p><strong>담당 리더와 면담</strong></p>
										</div>
										<div class="form-step">
											<p><span>STEP 02</span></p>
											<p><strong>지원서 접수</strong></p>
											<p>2024.04.01 ~ 2024.04.30</p>
											<a href="javascript:;">지원하기</a>
										</div>
										<div class="form-step">
											<p><span>STEP 03</span></p>
											<p><strong>지원서 심사</strong></p>
											<p>2024.05.01 ~ 2024.05.15</p>
										</div>
										<div class="form-step">
											<p><span>STEP 04</span></p>
											<p><strong>최종 결과 확인</strong></p>
											<p>2024.05.20</p>
										</div>
									</div>
								</div>
							</div><!-- //form-wrap -->

							<div class="form-wrap">
								<div class="form-label">
									나의 지원 이력
									<p class="sub-text long">* 지원 이력 클릭 시 <br class="pc" />지원서 확인이 가능합니다.</p>
								</div>
								<div class="form-field-group">
									<div class="form-field-box">
										<div class="table-row">
											<div class="table-scroll-wrap">
												<table class="table">
													
													<colgroup>
														<col style="width:5%;" />
														<col style="width:15%;" />
														<col style="width:20%;" />
														<col style="width:20%;" />
														<col style="width:10%;" />
														<col style="width:10%;" />
														<col style="width:10%;" />
														<col style="width:10%;" />
													</colgroup>
													
													<tr>
														<th class="text-center"></th>
														<th>직무 트랙</th>
														<th>직무 명칭</th>
														<th>직무 스텝</th>
														<th>진행 상태</th>
														<th>진행 결과</th>
														<th>지원일</th>
														<th>삭제</th>
													</tr>
													<tr>
														<td class="text-center">5</td>
														<td>Business Strategy</td>
														<td>HR General Manager & PA</td>
														<td>S1 Assistant HR General Manager & PA</td>
														<td>임시 저장</td>
														<td>-</td>
														<td>2024.01.25</td>
														<td><a href="javascript:;" class="btn-delete underline">삭제</a></td>
													</tr>

													<tr>
														<td class="text-center">4</td>
														<td>Business Strategy</td>
														<td>HR General Manager & PA</td>
														<td>S1 Assistant HR General Manager & PA</td>
														<td>심사 진행</td>
														<td>Pass</td>
														<td>2024.01.25</td>
														<td>-</td>
													</tr>

													<tr>
														<td class="text-center">3</td>
														<td>Business Strategy</td>
														<td>HR General Manager & PA</td>
														<td>S1 Assistant HR General Manager & PA</td>
														<td>심사 완료</td>
														<td>Fail</td>
														<td>2024.01.25</td>
														<td><a href="javascript:;" class="btn-delete underline">삭제</a></td>
													</tr>

													<tr>
														<td class="text-center">2</td>
														<td>Business Strategy</td>
														<td>HR General Manager & PA</td>
														<td>S1 Assistant HR General Manager & PA</td>
														<td>임시 저장</td>
														<td>-</td>
														<td>2024.01.25</td>
														<td><a href="javascript:;" class="btn-delete underline">삭제</a></td>
													</tr>

													<tr>
														<td class="text-center">1</td>
														<td>Business Strategy</td>
														<td>HR General Manager & PA</td>
														<td>S1 Assistant HR General Manager & PA</td>
														<td>임시 저장</td>
														<td>-</td>
														<td>2024.01.25</td>
														<td>-</td>
													</tr>
												</table>
											</div>

											<div class="pagination-pc">
												<a href="javascript:void(0);" class="paging-prev"><span><img src="../../Content/img/common/paging_prev.png" alt="" /></span></a>
												<a href="javascript:void(0);" class="active">1</a>
												<a href="javascript:void(0);">2</a>
												<a href="javascript:void(0);">3</a>
												<a href="javascript:void(0);">4</a>
												<a href="javascript:void(0);">5</a>
												<a href="javascript:void(0);" class="paging-next"><span><img src="../../Content/img/common/paging_next.png" alt="" /></span></a>
											</div>

											<div class="pagination-mobile">
												<a href="javascript:void(0);" class="paging-prev"><span><img src="../../Content/img/common/paging_prev.png" alt="" /></span></a>
												<span class="active">1</span>
												<span>/</span>
												<span class="total">5</span>
												<a href="javascript:void(0);" class="paging-next"><span><img src="../../Content/img/common/paging_next.png" alt="" /></span></a>
											</div>

										</div>
									</div>
								</div>
							</div><!-- //form-wrap -->

						</div>
					</div>
				</div>

			</section>
			<!-- //right page area END -->
		</div>

        <footer>
          <div class="wrap">
            <div class="footer-copyright">
              <div class="copyright">COPYRIGHT(C) DAEHAK NEAIL ALL RIGHTS RESERVED.</div>
            </div>
          </div>
        </footer>
      </div>

      <div class="dim"></div>

    </div>
    <script src="../../js/script.js"></script>
    <script>
      $(function () {
 
      });
    </script>
  </body>
</html>
