<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, height=device-height, maximum-scale=1.0" />
    <title>title</title>
    <meta name="title" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta property="fb:app_id" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
<!-- 
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
-->
    <link rel="stylesheet" href="../../Content/css/slick.css" />
    <link rel="stylesheet" href="../../Content/css/style.css" />

    <script src="../../libs/jquery-2.1.4.min.js"></script>
    <script src="../../libs/slick-1.6.0.min.js"></script>
    <script src="../../libs/TweenMax.min.js"></script>
    <!-- <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script> -->
  </head>
  <body>
    <div id="wrap">
      <div id="container">
        <!-- header -->
        <header>
          <div class="wrap">
            <div class="logo">
              <a href="javascript:;" class="logo-img"><img src="../../Content/img/common/logo.png" alt="" /></a>
			  <a href="javascript:;" class="logo-text">직무 Step-up</a>
            </div>

            <div id="menu">
              <a href="javascript:;" class="menu-icon">
                <span> </span>
                <span> </span>
                <span> </span>
              </a>
            </div>

            <nav id="gnb">
              <ul>
                <li class="active"><a href="javascript:void(0);">마이 페이지</a></li>
                <li><a href="javascript:void(0);">STEP-UP 지원</a></li>
                <li><a href="javascript:void(0);">프로그램 소개</a></li>
                <li class="logout"><a href="javascript:void(0);"><span class="logout-img"><img src="../../Content/img/common/icon_logout.png" alt="" /></span>Logout</a></li>
              </ul>

            </nav>
          </div>
        </header>
        <!--// header -->

		<div id="contents"  class="page-main">
			<section class="section">
				<div class="wrap">
					<div class="main-title">지원서 확인</div>

					<div class="content-wrap">
						<div class="content">
							<div class="form-wrap">
								<div class="form-label">지원자 정보</div>
								<div class="form-field-group">
									<div class="form-field-box">
										<div class="form-field">
											<div class="form-subject">이름</div>
											<div class="form-desc">김대학</div>
										</div>

										<div class="form-field">
											<div class="form-subject">전체 경력연수</div>
											<div class="form-desc">11년</div>
										</div>

										<div class="form-field">
											<div class="form-subject">직급</div>
											<div class="form-desc">책임 매니저</div>
										</div>

										<div class="form-field">
											<div class="form-subject">소속</div>
											<div class="form-desc">E-Biz본부 인프라서비스팀</div>
										</div>
									</div>

									<div class="form-field-box">
										<div class="form-field full">
											<div class="form-subject">직속리더</div>
											<div class="form-desc">인프라기술팀 김내일 팀장</div>
										</div>
									</div>

									<div class="form-field-box">
										<div class="form-field full">
											<div class="form-subject">현재  직무 스텝</div>
											<div class="form-desc">Planning  /  Account Executive  /   S1 Assistant Account Executive</div>
										</div>
									</div>

								</div>
							</div><!-- //form-wrap -->
						</div>

						<div class="content">
							<div class="form-wrap">
								<div class="form-label">지원 직무 트랙</div>
								<div class="form-field-group">
									<div class="form-field-box">
										<div class="form-field full">
											<div class="form-desc">Planning</div>
										</div>
									</div>
								</div>
							</div><!-- //form-wrap -->

							<div class="form-wrap border-top-none">
								<div class="form-label">지원 직무 명칭</div>
								<div class="form-field-group">
									<div class="form-field-box">
										<div class="form-field full">
											<div class="form-desc">Account Executive</div>
										</div>
									</div>
								</div>
							</div><!-- //form-wrap -->

							<div class="form-wrap border-top-none">
								<div class="form-label">지원 직무 스텝</div>
								<div class="form-field-group">
									<div class="form-field-box">
										<div class="form-field full">
											<div class="form-desc">S1 Assistant Account Executive</div>
										</div>
									</div>
								</div>
							</div><!-- //form-wrap -->
						</div>

						<div class="content">
							<div class="form-wrap">
								<div class="form-label">본인 스킬 기술</div>
								<div class="form-field-group">
									<div class="form-field-box">
										<div class="form-field full">
											<div class="form-desc color-point"><strong>커뮤니케이션 (L2)</strong></div>
											<div class="form-text">
												본인이 등록한 내용이 들어가는 영역입니다.본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다.
											</div>
                                            <div class="form-feedback">
                                                <strong class="color-orange">피드백</strong>
                                                <p>심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다.</p>
                                            </div>
										</div>
									</div>

									<div class="form-field-box">
										<div class="form-field full">
											<div class="form-desc color-point"><strong>인사이트 (L2)</strong></div>
											<div class="form-text">
												본인이 등록한 내용이 들어가는 영역입니다.본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다.
											</div>
                                            <div class="form-feedback">
                                                <strong class="color-orange">피드백</strong>
                                                <p>심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다.</p>
                                            </div>
										</div>
									</div>

									
									<div class="form-field-box">
										<div class="form-field full">
											<div class="form-desc color-point"><strong>전략 솔루션 (L2)</strong></div>
											<div class="form-text">
												본인이 등록한 내용이 들어가는 영역입니다.본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다.
											</div>
                                            <div class="form-feedback">
                                                <strong class="color-orange">피드백</strong>
                                                <p>심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다.</p>
                                            </div>
										</div>
									</div>

									<div class="form-field-box">
										<div class="form-field full">
											<div class="form-desc color-point"><strong>크리에이티브 솔루션 (L1)</strong></div>
											<div class="form-text">
												본인이 등록한 내용이 들어가는 영역입니다.본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다.
											</div>
                                            <div class="form-feedback">
                                                <strong class="color-orange">피드백</strong>
                                                <p>심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다.</p>
                                            </div>
										</div>
									</div>
									

									<div class="form-field-box">
										<div class="form-field full">
											<div class="form-desc color-point"><strong>미디어 솔루션 (L1)</strong></div>
											<div class="form-text">
												본인이 등록한 내용이 들어가는 영역입니다.본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다.
											</div>
                                            <div class="form-feedback">
                                                <strong class="color-orange">피드백</strong>
                                                <p>심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다.</p>
                                            </div>
										</div>
									</div>

									<div class="form-field-box">
										<div class="form-field full">
											<div class="form-desc color-point"><strong>프로젝트 매니지먼트 (L1)</strong></div>
											<div class="form-text">
												본인이 등록한 내용이 들어가는 영역입니다.본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다.
											</div>
                                            <div class="form-feedback">
                                                <strong class="color-orange">피드백</strong>
                                                <p>심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다. 심사 코멘트가 들어가는 영역입니다.</p>
                                            </div>
										</div>
									</div>

								</div>
							</div><!-- //form-wrap -->

							<div class="form-wrap  border-top-none">
								<div class="form-label">직무 성장 지향<br class="pc"/> 및 목표 기술</div>
								<div class="form-field-group">
									<div class="form-field-box">
										<div class="form-text  mt-0">본인이 등록한 내용이 들어가는 영역입니다.본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다.
										</div>
                                        
									</div>

								</div>
							</div><!-- //form-wrap -->

							<div class="form-wrap  border-top-none">
								<div class="form-label">지원자 총평</div>
								<div class="form-field-group">
									<div class="form-field-box">
										<div class="form-text mt-0">본인이 등록한 내용이 들어가는 영역입니다.본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다.
										</div>
										
									</div>

								</div>
							</div><!-- //form-wrap -->
						</div>

						<div class="content">
							<div class="form-wrap">
								<div class="form-label">Additional<br class="pc"/> Skill</div>
								<div class="form-field-group">
									<div class="form-field-box">
										<div class="form-field full">
											<div class="form-desc"><strong>프로젝트 매니지먼트 (L1)</strong></div>
											<div class="form-text">
												본인이 등록한 내용이 들어가는 영역입니다.본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다.
											</div>
										</div>
									</div>

									<div class="form-field-box">
										<div class="form-field full">
											<div class="form-desc"><strong>프로젝트 매니지먼트 (L1)</strong></div>
											<div class="form-text">
												본인이 등록한 내용이 들어가는 영역입니다.본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다. 본인이 등록한 내용이 들어가는 영역입니다.
											</div>
										</div>
									</div>

								</div>
							</div><!-- //form-wrap -->

							<div class="form-wrap">
								<div class="form-label">Tool Skill</div>
								<div class="form-field-group">
                                    <div class="form-field-box">
                                        <div class="form-group mt-0">
                                            <div class="form-flex-box">
                                                <div class="form-value">
                                                    어도비 포토샵
                                                </div>
												<div class="form-field-radio">
													<ul class="form-field-list">
														<li>
															<span class="radio">
																<input type="radio" id="upper1" name="viewtype" value="" checked="">
																<label for="upper1"><span class="round">상</span></label>
															</span>
														</li>
														<li>
															<span class="radio">
																<input type="radio" id="middle1" name="viewtype" value="">
																<label for="middle1"><span class="round">중</span></label>
															</span>
														</li>
														<li>
															<span class="radio">
																<input type="radio" id="lower1" name="viewtype" value="">
																<label for="lower1"><span class="round">하</span></label>
															</span>
														</li>
													</ul>
												</div>
                                            </div>
                                        </div>

										<div class="form-group">
                                            <div class="form-flex-box">
												<div class="form-value">
                                                    MS 파워포인트
                                                </div>
												<div class="form-field-radio">
													<ul class="form-field-list">
														<li>
															<span class="radio">
																<input type="radio" id="upper2" name="viewtype2" value="" checked="">
																<label for="upper2"><span class="round">상</span></label>
															</span>
														</li>
														<li>
															<span class="radio">
																<input type="radio" id="middle2" name="viewtype2" value="">
																<label for="middle2"><span class="round">중</span></label>
															</span>
														</li>
														<li>
															<span class="radio">
																<input type="radio" id="lower2" name="viewtype2" value="">
																<label for="lower2"><span class="round">하</span></label>
															</span>
														</li>
													</ul>
												</div>
                                            </div>
                                        </div>

										<div class="form-group">
                                            <div class="form-flex-box">
												<div class="form-value">
                                                    MS 엑셀
                                                </div>
												<div class="form-field-radio">
													<ul class="form-field-list">
														<li>
															<span class="radio">
																<input type="radio" id="upper3" name="viewtype3" value="" checked="">
																<label for="upper3"><span class="round">상</span></label>
															</span>
														</li>
														<li>
															<span class="radio">
																<input type="radio" id="middle3" name="viewtype3" value="">
																<label for="middle3"><span class="round">중</span></label>
															</span>
														</li>
														<li>
															<span class="radio">
																<input type="radio" id="lower3" name="viewtype3" value="">
																<label for="lower3"><span class="round">하</span></label>
															</span>
														</li>
													</ul>
												</div>
                                            </div>
                                        </div>

										<div class="form-group">
                                            <div class="form-flex-box">
												<div class="form-value">
													피그마
                                                </div>
												<div class="form-field-radio">
													<ul class="form-field-list">
														<li>
															<span class="radio">
																<input type="radio" id="upper4" name="viewtype4" value="" >
																<label for="upper4"><span class="round">상</span></label>
															</span>
														</li>
														<li>
															<span class="radio">
																<input type="radio" id="middle4" name="viewtype4" value="" checked="">
																<label for="middle4"><span class="round">중</span></label>
															</span>
														</li>
														<li>
															<span class="radio">
																<input type="radio" id="lower4" name="viewtype4" value="">
																<label for="lower4"><span class="round">하</span></label>
															</span>
														</li>
													</ul>
												</div>
                                            </div>
                                        </div>

										<div class="form-group">
                                            <div class="form-flex-box">
												<div class="form-value">
													노션
                                                </div>
												<div class="form-field-radio">
													<ul class="form-field-list">
														<li>
															<span class="radio">
																<input type="radio" id="upper5" name="viewtype5" value="" >
																<label for="upper5"><span class="round">상</span></label>
															</span>
														</li>
														<li>
															<span class="radio">
																<input type="radio" id="middle5" name="viewtype5" value="">
																<label for="middle5"><span class="round">중</span></label>
															</span>
														</li>
														<li>
															<span class="radio">
																<input type="radio" id="lower5" name="viewtype5" value="" checked="">
																<label for="lower5"><span class="round">하</span></label>
															</span>
														</li>
													</ul>
												</div>
                                            </div>
                                        </div>
									</div>
								</div>
							</div><!-- //form-wrap -->

						</div>

						<div class="content">
							<div class="form-wrap">
								<div class="form-label">포트폴리오</div>
								<div class="form-field-group">
									<div class="form-field-box">
										<div class="form-field full">
											<div class="form-subject">파일</div>
											<div class="form-desc"><a href="javascript:;" class="underline">첨부파일.pdf</a></div>
										</div>
									</div>

									<div class="form-field-box">
										<div class="form-field full">
											<div class="form-subject">링크</div>
											<div class="form-desc"><a href="javascript:;" class="underline">https://www.univ.com/~~~~</a></div>
										</div>
									</div>
								</div>
							</div><!-- //form-wrap -->

							<div class="form-wrap">
								<div class="form-label">자격증</div>
								<div class="form-field-group">
									<div class="form-group">
										<div class="form-field-box">
											<div class="form-field full">
												<div class="form-subject">자격 증명</div>
												<div class="form-desc">정보처리기사 자격증</div>
											</div>
										</div>

										<div class="form-field-box">
											<div class="form-field">
												<div class="form-subject">발급처</div>
												<div class="form-desc">대한상공회의소</div>
											</div>
											<div class="form-field">
												<div class="form-subject">취득일</div>
												<div class="form-desc">2020-02-02</div>
											</div>
										</div>

										<div class="form-field-box">
											<div class="form-field full">
												<div class="form-subject">자격증 사본</div>
												<div class="form-desc"><a href="javascript:;" class="underline">자격증.jpg</a></div>
											</div>
										</div>
									</div>

									<div class="form-group border-top-line">
										<div class="form-field-box">
											<div class="form-field full">
												<div class="form-subject">자격 증명</div>
												<div class="form-desc">정보처리기사 자격증</div>
											</div>
										</div>

										<div class="form-field-box">
											<div class="form-field">
												<div class="form-subject">발급처</div>
												<div class="form-desc">대한상공회의소</div>
											</div>
											<div class="form-field">
												<div class="form-subject">취득일</div>
												<div class="form-desc">2020-02-02</div>
											</div>
										</div>

										<div class="form-field-box">
											<div class="form-field full">
												<div class="form-subject">자격증 사본</div>
												<div class="form-desc"><a href="javascript:;" class="underline">자격증.jpg</a></div>
											</div>
										</div>
									</div>

								</div>
							</div><!-- //form-wrap -->

						</div>

                        <div class="content">
							<div class="form-wrap">
								<div class="form-label">심사 결과</div>
								<div class="form-field-group">
									<div class="form-field-box">
										<div class="form-field full">
											<div class="form-desc"><strong class="color-point">PASS</strong> / Planning AE - S1 Assistant Account Executive</div>
										</div>
									</div>

									<div class="form-field-box">
										<div class="form-field full">
											<div class="form-text mt-0">
												심사 총평 코멘트가 들어가는 영역입니다. 심사 총평 코멘트가 들어가는 영역입니다. 심사 총평 코멘트가 들어가는 영역입니다. 심사 총평 코멘트가 들어가는 영역입니다. 심사 총평 코멘트가 들어가는 영역입니다. 심사 총평 코멘트가 들어가는 영역입니다. 심사 총평 코멘트가 들어가는 영역입니다. 심사 총평 코멘트가 들어가는 영역입니다. 심사 총평 코멘트가 들어가는 영역입니다. 심사 총평 코멘트가 들어가는 영역입니다. 심사 총평 코멘트가 들어가는 영역입니다. 심사 총평 코멘트가 들어가는 영역입니다. 심사 총평 코멘트가 들어가는 영역입니다. 심사 총평 코멘트가 들어가는 영역입니다. 
                                            </div>
										</div>
									</div>

									
									<div class="form-field-box">
										<div class="form-field full">
											<div class="form-desc"><strong>Up-skilling 성장 지원</strong></div>
											<div class="form-text">
												지원 관련 코멘트가 들어가는 영역입니다. 지원 관련 코멘트가 들어가는 영역입니다지원 관련 코멘트가 들어가는 영역입니다지원 관련 코멘트가 들어가는 영역입니다지원 관련 코멘트가 들어가는 영역입니다지원 관련 코멘트가 들어가는 영역입니다지원 관련 코멘트가 들어가는 영역입니다지원 관련 코멘트가 들어가는 영역입니다지원 관련 코멘트가 들어가는 영역입니다지원 관련 코멘트가 들어가는 영역입니다지원 관련 코멘트가 들어가는 영역입니다지원 관련 코멘트가 들어가는 영역입니다
                                            </div>
										</div>
									</div>

									<div class="form-field-box">
										<div class="form-field full">
											<div class="form-desc"><strong>Cross-skilling 성장 지원</strong></div>
											<div class="form-text">
												지원 관련 코멘트가 들어가는 영역입니다. 지원 관련 코멘트가 들어가는 영역입니다지원 관련 코멘트가 들어가는 영역입니다지원 관련 코멘트가 들어가는 영역입니다지원 관련 코멘트가 들어가는 영역입니다지원 관련 코멘트가 들어가는 영역입니다지원 관련 코멘트가 들어가는 영역입니다지원 관련 코멘트가 들어가는 영역입니다지원 관련 코멘트가 들어가는 영역입니다지원 관련 코멘트가 들어가는 영역입니다지원 관련 코멘트가 들어가는 영역입니다지원 관련 코멘트가 들어가는 영역입니다
                                            </div>
										</div>
									</div>
									

									<div class="form-field-box">
										<div class="form-field full">
											<div class="form-desc"><strong>성장 지원 추천</strong></div>
											<div class="form-text">
												코멘트가 들어가는 영역입니다. 코멘트가 들어가는 영역입니다. 코멘트가 들어가는 영역입니다. 코멘트가 들어가는 영역입니다. 코멘트가 들어가는 영역입니다. 코멘트가 들어가는 영역입니다. 코멘트가 들어가는 영역입니다.
                                             </div>
										</div>
									</div>
								</div>
							</div><!-- //form-wrap -->

						</div>

					</div>


					<div class="action">
						<a href="javascript:;" class="btn btn-mint">메인으로</a>
					</div>
				</div>

			</section>
			<!-- //right page area END -->
		</div>

        <footer>
          <div class="wrap">
            <div class="footer-copyright">
              <div class="copyright">COPYRIGHT(C) DAEHAK NEAIL ALL RIGHTS RESERVED.</div>
            </div>
          </div>
        </footer>
      </div>

      <div class="dim"></div>

	  

	  <div class="popup" id="popupLeader">
        <div class="popup-wrap">
          <div class="popup-title">
			직속 리더 변경
          </div>
          <div class="popup-cont">
			  <div class="popup-input">
				<input type="text" class="text" />
				<a href="javascript:;" class="btn wide btn-mint">변경</a>
			</div>
			<div class="popup-text">
				※ 변경하고자 하는 직속 리더와 사전 협의를 꼭 거친 후 변경해 주세요.<br/>
				※ 변경하고자 하는 직속 리더의 사내 메일 주소를 입력해 주세요.<br/>
				※ 최종 제출 후에는 직속 리더 변경이 어려우니 정확히 확인 후 변경해 주세요.
			</div>

          </div>
          <div class="popup-btn">
            <a href="javascript:popupClose('#popupLeader');">닫기</a>
          </div>
        </div>
      </div>



    </div>
    <script src="../../js/script.js"></script>
    <script>
      $(function () {
        

      });
    </script>
  </body>
</html>
